<!DOCTYPE html>
<html>

<head>
  <title>ngTableTree</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://7xlphe.com1.z0.glb.clouddn.com/angular-material.min-1.1.1.css">
  <link rel="stylesheet" type="text/css" href="../src/tabletree.css">
  <link rel="stylesheet" type="text/css" href="demo.css">
</head>

<body>
  <div ng-app="MyApp" ng-controller="MyController">
    <h3>init-expand: true (default), expand-indent: 10px (default), deep-watch: true（default）</h3>
    <table table-tree="tree" init-expand="2" expand-indent="20" max-rows="150" deep-watch="true">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Contact</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ **.name }}</td>
          <td>{{ **.age }}</td>
          <td>{{ **.address }}</td>
          <td>
            {{ **.contact }}
            <ng-md-icon icon="info" style="fill: #ccc; vertical-align: middle;" size="16">
              <md-tooltip>please contact me with {{ **.contact }}</md-tooltip>
            </ng-md-icon>
          </td>
          <td>
            <md-button class="md-primary md-raised" ng-click="addAge($event, **)">Add Age</md-button>
          </td>
          <td>
            <md-button class="md-primary md-raised" ng-click="insertRow($event, **)">Insert Row</md-button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <h3 style="margin-top: 30px;">init-expand: false, expand-indent: 20px, deep-watch: false</h3>
    <table table-tree="tree2" init-expand="false" expand-indent="20" deep-watch="false">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Contact</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ **.name }}</td>
          <td>{{ **.age }}</td>
          <td>{{ **.address }}</td>
          <td>
            {{ **.contact }}
            <ng-md-icon icon="info" style="fill: #ccc; vertical-align: middle;" size="16">
              <md-tooltip>please contact me with {{ **.contact }}</md-tooltip>
            </ng-md-icon>
          </td>
          <td>
            <md-button class="md-primary md-raised" ng-click="addAge($event, **)">Add Age</md-button>
          </td>
          <td>
            <md-button class="md-primary md-raised" ng-click="insertRow2($event, **)">Insert Row</md-button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular.min-1.5.8.js"></script>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular-animate.min-1.5.8.js"></script>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular-aria.min-1.5.8.js"></script>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular-messages.min-1.5.8.js"></script>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular-material.min-1.1.1.js"></script>
  <script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/angular-material-icons.min.js"></script>

  <script type="text/javascript" src="../src/tabletree.js"></script>
  <script type="text/javascript" src="demo.js"></script>
</body>

</html>