.tt-table .warning-msg {
  color: #EF2B29;
}

.tt-table .tt-expand-td .expand-icon {
  cursor: pointer;
  margin-right: 4px;
  outline: none;
}

.tt-table .tt-expand-td .expand-icon {
  display: inline-block;
  height: 12px;
  margin: 0 8px;
  position: relative;
  transition: transform .35s;
  width: 8px;
}

.tt-table .tt-expand-td .expand-icon:after {
  border: 6px solid transparent;
  border-left-width: 8px;
  border-left-color: #999;
  border-radius: 2px;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.tt-table .tt-expand-td .expand-icon.expanded {
  transform: rotateZ(90deg);
}

.tt-table td.load-more,
.tt-table td.load-all, 
.tt-table td.no-items {
  text-align: center;
}

.tt-table td.load-more,
.tt-table td.load-all {
  background: #eee;
  color: #666;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
}