.tt-table .warning-msg {
  color: #EF2B29;
}

.tt-table .tt-expand-td .expand-icon {
  cursor: pointer;
  margin-right: 4px;
  outline: none;
}

.tt-table .tt-expand-td .expand-icon svg {
  fill: #ccc;
  vertical-align: middle;
}
